.background {
	width: calc(100vw + 4px);
	height: 1088px;
	position: relative;
	left: -4px;
	background-image: url('./../../../../public/images/img/iceCubes.svg');
	display: flex;
	align-items: center;
	justify-content: center;

	.title {
		font-size: 48px;
		font-weight: 400;
		line-height: 50px;
		color: #fff;
		text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
			2px 2px 0 black;
		position: relative;
	}
}

.bottom {
	.bottomLeft {
		position: absolute;
		top: 150px;
		left: -90px;
		z-index: -1;
	}

	.triangle {
		position: absolute;
		top: 1177px;
		width: 0;
		height: 0;
		border-left: 950px solid transparent;
		border-right: 950px solid transparent;
		border-top: 420px solid rgba(244, 244, 244, 0.95);

		> span {
			position: absolute;
			width: 650px;
			left: -330px;
			top: -300px;
			text-align: center;
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			color: #221e1e;
		}
	}

	.bottomRight {
		position: relative;
		top: 0;
		left: 980px;
		z-index: -1;
	}
}

@media screen and (max-width: 1600px) {
	.bottom {
		.triangle {
			border-left: 800px solid transparent;
			border-right: 800px solid transparent;
		}
	}
}

@media screen and (max-width: 1280px) {
	.bottom {
		.bottomLeft {
			width: 1000px;
			top: 550px;
			height: 1000px;
		}

		.triangle {
			border-left: 640px solid transparent;
			border-right: 640px solid transparent;
			border-top: 220px solid rgba(244, 244, 244, 0.95);

			> span {
				top: -180px;
			}
		}

		.bottomRight {
			left: 700px;
		}
	}
}

@media screen and (max-width: 1024px) {
	.bottom {
		.bottomLeft {
			width: 800px;
			top: 750px;
			height: 800px;
		}

		.triangle {
			border-left: 512px solid transparent;
			border-right: 512px solid transparent;

			> span {
				font-size: 18px;
			}
		}

		.bottomRight {
			width: 700px;
			left: 600px;
		}
	}
}

@media screen and (max-width: 768px) {
	.background {
		.title {
			font-size: 34px;
		}
	}

	.bottom {
		.bottomLeft {
			left: -150px;
		}

		.triangle {
			border-left: 384px solid transparent;
			border-right: 384px solid transparent;

			> span {
				font-size: 20px;
				top: -200px;
				width: 400px;
				left: -200px;
			}
		}

		.bottomRight {
			left: 500px;
		}
	}
}

@media screen and (max-width: 480px) {
	.background {
		.title {
			font-size: 30px;
			display: inline-block;
			width: 300px;
			text-align: center;
		}
	}

	.bottom {
		.bottomLeft {
			left: -300px;
			top: 1050px;
			height: 500px;
		}

		.triangle {
			border-left: 240px solid transparent;
			border-right: 240px solid transparent;

			> span {
				font-size: 14px;
				top: -200px;
				width: 250px;
				left: -120px;
			}
		}

		.bottomRight {
			left: 300px;
		}
	}
}

@media screen and (max-width: 320px) {
	.background {
		.title {
			font-size: 30px;
			display: inline-block;
			width: 300px;
			text-align: center;
		}
	}

	.bottom {
		.bottomLeft {
			left: -350px;
			top: 1050px;
			height: 500px;
		}

		.triangle {
			border-left: 160px solid transparent;
			border-right: 160px solid transparent;
			border-top: 250px solid rgba(244, 244, 244, 0.95);

			> span {
				font-size: 12px;
				top: -250px;
				width: 220px;
				left: -110px;
			}
		}

		.bottomRight {
			left: 200px;
		}
	}
}
