.menu {
	position: relative;
	display: inline-block;
}

.selectedLanguage {
	display: flex;
	align-items: center;
	cursor: pointer;

	&.reversed {
		gap: 10px;
		.chevron {
			position: absolute;
			right: 0;
		}
	}
}

.chevron {
	margin-left: 5px;
}

.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdownReversed {
	position: absolute;
	bottom: 100%;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	.item {
		position: relative;
		left: -8px;
		gap: 10px;
	}
}

.item {
	display: flex;
	align-items: center;
	padding: 8px;
	cursor: pointer;

	&:hover {
		background-color: #f5f5f5;
	}

	& + .item {
		border-top: 1px solid #ccc;
	}
}
