.about {
	width: 100vw;
	height: calc(100vh - 120px);

	.container {
		display: flex;
		align-items: center;
		position: relative;
		left: -50px;
		top: -20px;

		.imageLeft {
			position: relative;
			top: 10px;
			z-index: -1;
		}

		.textList {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 400px;
			text-align: center;
			position: relative;
			left: -100px;
			top: -50px;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
			.text {
				width: 100%;
			}
		}
	}

	@media screen and (max-width: 1600px) {
		height: calc(100vh - 273px);
		position: relative;
		top: -100px;
		.container {
			.textList {
				position: relative;
				left: -200px;
			}
		}
	}

	@media screen and (max-width: 1280px) {
		.container {
			.imageLeft {
				width: 700px;
				height: 900px;
				top: -50px;
				left: -100px;
			}
			.textList {
				top: -60px;
				left: -200px;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		height: calc(100vh - 150px);
		.container {
			top: -100px;
			.imageLeft {
				width: 500px;
				height: 700px;
				top: 200px;
			}
			.textList {
				top: 200px;
			}
		}
	}

	@media screen and (max-width: 768px) {
		height: calc(100vh + 200px);
		.container {
			.imageLeft {
				left: -50px;
			}
			.textList {
				top: 200px;
				left: -20px;
				gap: 25px;
			}
		}
	}

	@media screen and (max-width: 480px) {
		height: fit-content;
		.container {
			top: -50px;
			flex-direction: column;
			.imageLeft {
				display: none;
			}
			.textList {
				top: 200px;
				width: 300px;
				left: 50px;
				gap: 25px;
				margin-bottom: 500px;
			}
		}
	}

	@media screen and (max-width: 320px) {
		.container {
			top: -50px;
			.textList {
				width: 250px;
				left: 50px;
			}
		}
	}
}
