.header {
	width: 100%;
	background-color: #fff;

	.wrapper {
		padding: 0px 100px;
		margin: 0 auto;

		.container {
			padding: 8px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				display: flex;
				align-items: center;
			}

			.right {
				display: flex;
				align-items: center;
				gap: 20px;

				.link {
					font-size: 24px;
					font-weight: 500;
					line-height: 35px;
					color: #000;
					transition: 0.2s ease;

					&:hover {
						color: #949292;
					}
				}
			}
		}
	}
}
